.gradle/
build/
.idea/
*.iml
.vscode/
bin/
*.class

# Local Paper test server accidentally run from the project dir
/cache/
/libraries/
/logs/
/versions/
/config/
/world/
/world_nether/
/world_the_end/
/plugins/
/crash-reports/
/eula.txt
/server.properties
/*.jar
/banned-ips.json
/banned-players.json
/ops.json
/whitelist.json
/usercache.json
/help.yml
/permissions.yml
/bukkit.yml
/spigot.yml
/commands.yml
/paper*.yml
/version_history.json
